{% extends "base.html" %}

{% block content %}
<div class="card mb-3 position-r-0" style="max-width: 1100;">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <div>
                    <h5 class="card-title">{{ order.time }}</h5>
                </div>
                <div>
                    <h7 class="card-title"><b>Сумма</b>: {{ '%0.2f'|format(order.sum) }} руб</h7>
                </div>
                <div>
                    <h7 class="card-title"><b>Статус</b>: {{ order.status.label }}</h7>
                </div>
                <div>
                    <h5 class="card-title">Доставка</h5>
                </div>
                <div>
                    <h7 class="card-title"><b>Телефон</b>:</h7>
                    <h7 class="card-title">{{ order.phone }}</h7>
                </div>
                <div>
                    <h7 class="card-title"><b>Email</b>:</h7>
                    <h7 class="card-title">{{ order.email }}</h7>
                </div>
                <div>
                    <h7 class="card-title"><b>Адрес</b>:</h7>
                    <h7 class="card-title">{{ order.address }}</h7>
                </div>
                <h5 class="card-title">Способ оплаты</h5>
                <div>
                    <h7 class="card-title">Наличными при получении</h7>
                </div>
            </div>
        </div>
    </div>
</div>
{% for order_item in order_items %}
<div class="card mb-3" style="max-width: 1100;">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="{{ url_for('main.download_file', name=order_item.product.image) }}"
                 class="img-fluid rounded-start"
                 alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ order_item.product.name }}</h5>
                <p class="card-text">{{ order_item.quantity }} шт x
                    {{ '%0.2f'|format(order_item.product.price) }} руб = {{ '%0.2f'|format(order_item.sum) }} руб
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}