{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger" role="alert">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<div class="column is-4 is-offset-4">
    <div class="box">
            <h3 class="title">Продукты</h3>
            <a class="nav-link" href="{{ url_for('product.add') }}">Новый продукт</a>
    {% for product in products %}
            <div class="field">
                {{ Название }} {{ product.name }}
            </div>
            <div class="field">
                {{ Описание }} {{ product.description }}
            </div>
            <form method="POST" action="{{ url_for('product.delete', id=product.id) }}">
                <button type="submit" class="button is-block is-info is-large is-fullwidth">Удалить</button>
            </form>

       {% endfor %}
    </div>
</div>
{% endblock %}