{% extends "base.html" %}

{% block content %}
{% for product in products %}
<div class="card mb-3" style="max-width: 1100;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ url_for('main.download_file', name=product.image) }}" class="img-fluid rounded-start"
                 alt="..." width="250" height="250">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <div>
                    <h7 class="card-title">{{ '%0.2f'|format(product.price) }} руб</h7>
                </div>
                <div>
                    <h7 class="card-title">{{ product.quantity }} шт в наличии</h7>
                </div>
                <div>
                    <h7 class="card-title">{{ product.description }}</h7>
                </div>
                <div>
                    <form method="POST" action="{{ url_for('cart.add') }}">
                        {{ global_add_to_cart.csrf_token() }}
                        {{ global_add_to_cart.product_id(class="input is-large", value=product.id) }}
                        {{ global_add_to_cart.quantity(class="input is-large", placeholder='1', autofocus="", value=1) }}
                        {{ global_add_to_cart.submit(class="button is-block is-info is-large is-fullwidth") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}